@media screen and (max-width: 992px) {
    .navbar-nav {
        justify-content: space-between;
        flex-direction: row;
    }
    .apps__img-block {
        margin-top: -150px;
    }
    .footer__description {
        text-align: center;
    }
}
@media screen and (max-width:768px) {
    .direction {
        flex-direction: column;
    }
    .work-text {
        text-align: center;
    }
    .variants-text {
        text-align: center;
    }
    .checkout-text {
        text-align: center;
    }
}
@media screen and (max-width: 575px) {
    .hero__description {
        font-size: 40px;
        line-height: 60px;
    }
    .hero__subtitle {
        font-size: 20px;
    }
    .hero__button {
        padding: 10px 40px;
        font-size: 20px;
    }
    .faq__button {
        padding: 10px 40px;
        font-size: 20px;
    }
}
@media screen and (max-width: 425px) {
    .navbar-brand {
        width: 60%;
    }
    .logo {
        width: 85%;
    }
    .nav-item {
        margin-right: 16px !important;
    }
}
@media screen and (max-width: 415px) {
    .hero__buttons {
        flex-direction: column;
        gap: 15px;
    }
    .hero__button {
        margin-right: 0;
        margin-left: 0;
    }
    .faq__buttons {
        flex-direction: column;
        gap: 15px;
    }
    .faq__button {
        margin-right: 0;
        margin-left: 0;
    }
}
@media screen and (max-width: 375px) {
    .nav-link {
        font-size: 14px;
    }
    .hero__description {
        font-size: 36px;
        line-height: 50px;
    }
    .work__title {
        font-size: 35px;
    }
    .work__account-description {
        font-size: 36px;
    }
    .variants__account-description {
        font-size: 36px;
    }
    .checkout__account-description {
        font-size: 36px;
    }
    .work__account-subtitle {
        font-size: 18px;
    }
    .variants__account-subtitle {
        font-size: 18px;
    }
    .checkout__account-subtitle {
        font-size: 18px;
    }
}